// When a pipeline script is launched, Nextflow looks for this nextflow.config file.
// This file defines settings and properties and can be organized into different scopes.

// The manifest scope lets you define some metadata.
// The settings available are author, description, defaultBranch, homePage, mainScript, name, nextflowVersion, and version
manifest {
    author = 'Natalie Perez'
    description = 'This workflow will print a hello message and store it to a file named Hello.txt'
}

// The params scope lets you define parameters that will be accessible in the pipeline script.
params {
    input_sam = '/Users/natalieperez/Projects/bcc2020-training/data/mini.sam'
    flagstat_output_name = 'NA12878_chr20_ds.sam.flagstat.metrics'
    docker_image = 'quay.io/ldcabansay/samtools:latest'
}

// The docker scope controls how Docker containers are executed by Nextflow.
// Here, we enable it to true so that our workflow executes on the Docker container we defined by default.
docker {
    enabled = true
    container = params.docker_image
}