// When a pipeline script is launched, Nextflow looks for this nextflow.config file.
// This file defines settings and properties and can be organized into different scopes.

// The manifest scope lets you define some metadata.
// The settings available are author, description, defaultBranch, homePage, mainScript, name, nextflowVersion, and version
manifest {
    author = 'Natalie Perez'
    description = 'this workflow will evaluate SAM file and generate statics about the alignment'
}

// The params scope lets you define parameters that will be accessible in the pipeline script.
params {
    sample_name = 'NA12878_chr20_ds'
    flagstat_output_name = 'NA12878_chr20_ds.sam.flagstat.metrics'
    analysis_sam = '/Users/louisecabansay/gitOrgs/dockstore-training/data/out_realigned_NA12878_chr20.sam'
    docker_image = 'quay.io/ldcabansay/samtools:latest'
}

// The docker scope controls how Docker containers are executed by Nextflow.
// Here, we enable it to true so that our workflow executes on the Docker container we defined by default.
docker {
    enabled = true
    container = params.docker_image
}
